@import "tailwindcss";
.dropdown-menu {
  display: none;
  position: absolute;
  top: 28px;
  right: -30px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
}
.profile-group:hover .dropdown-menu {
  display: block;
}
.hero-top{
  display: flex;
  padding-inline: 20px;
  gap: 20px;
  justify-content: space-between;
  background-color: bisque;
  border-radius: 10px;
}
.hero-left{
  max-width: 50%;
  margin-top: 100px;
}
.hero_content{
  display: flex;
  gap: 15px;
}
.info_icon .hero_icon{
  font-size: 44px;
  color: red;
}
.detail h3{
  font-size: 22px;
}
.detail p{
  text-decoration: none;
  color: black;
}
.product-grid{
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}
.auth-form{
  max-width: 28rem;
  margin: 3.5rem auto;
}